<h1>Questions Template</h1>

  <section id="gigs" class="container">
    <h1>All Questions</h1>

    {{#each questions}}
    <div class="question">
      /* <h3>{{this.title}}</h3> */
      /* <p>{{description}}</p> */
      /* <ul> */
      /*   <li>Budget: {{budget}}</li> */
      /*   <li><a href="mailto:{{contact_email}}" class="btn btn-reverse">Apply Now</a></li> */
      /* </ul> */
      /* <div class="tech"> */
      /*   <small>Technologies Needed: <span>{{technologies}}</span></small> */
      /* </div> */
    </div>

    {{else}}
    <p>No questions available</p>
   {{/each}}

  </section>
